#select-bulk-tables-component {
  .dependency-count {
    font-size: 80%;
    opacity: 80%;
  }

  .table-container {
    height: 500px;
    overflow-y: auto;
  }

  .button-bar {
    .float-start {
      padding-left: 32px;
    }

    .float-end {
      display: flex;
    }
  }
}