<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <!--No Colors-->
            <!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->

            <!--Include line number-->
            <!--            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{40}.%M\(%class{0}.java:%line\)) - %msg%n</pattern>-->

            <!--No line number-->
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

<!--
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            &lt;!&ndash; each archived file, size max 10MB &ndash;&gt;
            <maxFileSize>10MB</maxFileSize>
            &lt;!&ndash; total size of all archive files, if total size > 20GB, it will delete old archived file &ndash;&gt;
            <totalSizeCap>20GB</totalSizeCap>
            &lt;!&ndash; 60 days to keep &ndash;&gt;
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.dandoy.dbpopd" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!--    <logger name="io.micronaut.runtime.Micronaut" level="WARN"/>-->
    <!--        <logger name="org.dandoy.dbpopd.code" level="DEBUG"/>-->
</configuration>
