.code-changes-component {
  .pageheader-component .text-end {
    margin-top: 25px;
    font-style: italic;
    font-size: 120%;
    cursor: default;

    i {
      color: orange;
      padding-right: 5px;
    }
  }

  .column-path, .column-db {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .column-buttons {
    text-align: center;
    white-space: nowrap;

    button {
      margin: 0 3px;
    }
  }

  .changes {
    max-height: 30em;
    overflow-x: hidden;
    overflow-y: auto;
  }

  table > * > tr {
    td.object-name {
      text-align: start;
    }

    td {
      text-align: center;
    }

    .apply-button {
      width: 10em;
    }
  }

  tfoot > tr > td {
    border-top: 2px solid !important;
    padding-top: 16px;
  }
}
