#tools-component {
  .code-component-section {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 3rem;
    padding-bottom: 1rem;

    .col-4 {
      text-align: end;

      img {
        width: 20em;
        opacity: 50%;
        transition: opacity .5s;
      }
    }
  }

  .code-component-section:hover img {
    opacity: 100%;
    transition: opacity .5s;
  }
}
