<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <logger name="io.micronaut.runtime.Micronaut" level="ERROR"/>
    </root>
    <logger name="ch.qos.logback.classic.LoggerContext" level="WARN"/>
</configuration>
