#datasets-tab-pane {
  .button-load {
    color: limegreen;
  }

  .dataset-result, .dataset-error {
    font-size: 80%;
    margin-left: 50px;
  }

  .dataset-error {
    padding-top: 8px;
    font-family: monospace;
    white-space: nowrap;
  }
}